        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    </head>
    <body>
        <div id="app">
            <router-view></router-view>
        </div>
        <script src="js/components.js"></script>
        <script src="js/page-components.js"></script>
        <script src="js/routing.js"></script>
